.unready-state {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

.App {
  display: flex;
  height: 100%;
}

button, input[type="submit"] {
  padding: 0.4rem 0.9rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 14px;
  background-color: #01b393;
  color: rgb(240, 247, 232);
  font-weight: 600;
}
